<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css" integrity="sha512-+4zCK9k+qNFUR5X+cKL9EIR+ZOhtIloNl9GIKS57V1MyNsYpYcUrUeQc9vNfzsWfV28IaLL3i96P9sdNyeRssA==" crossorigin="anonymous" />
  <script src="https://cdn.jsdelivr.net/npm/vue"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.0/axios.js" integrity="sha512-bYkaBWaFtfPIMYt9+CX/4DWgfrjcHinjerNYxQmQx1VM76eUsPPKZa5zWV8KksVkBF/DaHSADCwil2J5Uq2ctA==" crossorigin="anonymous"></script>
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="style.css">
  <title>Boolflix</title>
</head>
<body>
  <div id="root">
    <header>
      <span @click='functionReload'>BOOLFLIX</span>
      <div class="form">
        <input type="text" v-model='message' placeholder="Titles, people, genres" v-on:keyup.enter="functionFind">
        <button type="button" name="button" @click='functionFind'><i class="fas fa-search"></i></button>
      </div>
    </header>
    <main>
      <div class="trending_results" v-if="trending == false">Trending</div>
      <div class="trending_results" v-if="trending == true">Results..</div>
      <div class="wrapper">
        <div class="card" v-for="film in films" :style="{backgroundImage:'url('+ prefix + film.poster_path +')'}">
          <div class="layover" :class="{ placeholder: film.poster_path == null }">
            <div class="layover_text">
              <div class="flags">
                <img class="flag" src="https://cdn.countryflags.com/thumbs/united-states-of-america/flag-round-250.png" alt="flag_usa" v-if="film.original_language == 'en'">
                <img class="flag" src="https://cdn1.iconfinder.com/data/icons/international-circular-flags/512/germany_german_national_country_flag-512.png" alt="flag_usa" v-if="film.original_language == 'de'">
                <img class="flag" src="https://www.pngfind.com/pngs/m/557-5572502_icon-french-language-france-flag-logo-png-transparent.png" alt="flag_usa" v-if="film.original_language == 'fr'">
                <img class="flag" src="https://i.pinimg.com/originals/c5/f0/fa/c5f0fa5ac14327b8330fde1c621ffa8a.jpg" alt="flag"
                v-if="film.original_language != 'en' && film.original_language != 'de' && film.original_language != 'fr'">
              </div>
              <div>
                <strong>Title</strong>
                : {{ film.title }}{{ film.name }}
              </div>
              <div>
                <strong>Original Title</strong>
                : {{ film.original_title }}{{ film.original_name }}
              </div>
              <div>
                <strong>Vote</strong>
                : <i class="fas fa-star" v-if="vote == 0"></i>
              </div>
              <div>
                <strong>Overview</strong>
                : {{ film.overview }}
              </div>
            </div>
          </div>
        </div>
      </div>
    </main>
  </div>
  <script src="script.js" charset="utf-8"></script>
</body>
</html>
