* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Bebas Neue', cursive;
}

#root {
  width: 100%;
}

header {
  width: 100%;
  padding: 10px 0;
  background-color: black;
  position: fixed;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header span {
  color: red;
  font-size: 40px;
  font-weight: bold;
  margin-left: 20px;
}
header .form {
  float: right;
  margin-right: 20px;
  border: 1px solid white;
}
header input {
  padding: 6px 10px;
  background-color: black;
  color: grey;
  border: none;
}
header button {
  padding: 6px 10px;
  background-color: black;
  color: white;
  border: none;
}

main {
  width: 100%;
  background-color: #211E1E;
  padding-top: 10vh;
  padding-left: 60px;
  padding-right: 60px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
main .card {
  width: 220px;
  height: 330px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  margin: 10px 0;
  overflow-y: auto;
  border-radius: 10px;
}
main .card::-webkit-scrollbar {
  display: none;
}
main .card .layover {
  min-width: 100%;
  min-height: 100%;;
  background-color: rgba(0, 0, 0, 0.0);
}
main .card .layover .testo_layover {
  font-size: 15px;
  color: white;
  padding: 20px 15px;
  visibility: hidden;
}
main .card:hover {
  width: 250px;
  height: 360px;
}
main .card:hover .layover {
  background: rgba(0, 0, 0, 0.8);
}
main .card:hover .testo_layover {
  visibility: visible;
}
main .card .testo_layover .fas.fa-star {
  color: #FDBE01;
}
