* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Bebas Neue', cursive;
}

#root {
  width: 100%;
}

header {
  width: 100%;
  padding: 10px 0;
  background-color: black;
  position: fixed;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 3;
}
header span {
  color: red;
  font-size: 40px;
  font-weight: bold;
  margin-left: 20px;
  cursor: pointer;
}
header .form {
  float: right;
  margin-right: 20px;
  border: 1px solid white;
}
header input {
  padding: 6px 10px;
  background-color: black;
  color: grey;
  border: none;
}
header button {
  padding: 6px 10px;
  background-color: black;
  color: white;
  border: none;
}

.wrapper {
  width: 100%;
  min-height: 100vh;
  background-color: #211E1E;
  display: flex;
  flex-wrap: wrap;
}
.padding {
  padding-top: 10vh;
}
main .tendenze {
  padding-top: 90px;
  padding-left: 20px;
  font-size: 30px;
  background-color: #211E1E;
  color: white;
}
main .card {
  width: 220px;
  height: 330px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  margin: 20px 32px;
  overflow-y: auto;
  border-radius: 10px;
  cursor: pointer;
}
main .card::-webkit-scrollbar {
  display: none;
}
main .card .layover {
  min-width: 100%;
  min-height: 100%;;
  background-color: rgba(0, 0, 0, 0.0);
}
.placeholder {
  background-image: url('https://image.tmdb.org/t/p/w342/wwemzKWzjKYJFfCeiB57q3r4Bcm.png');
  background-size: contain;
  background-position: center;
  background-repeat: repeat;
}
main .card .layover .testo_layover {
  font-size: 15px;
  color: white;
  padding: 20px 15px;
  visibility: hidden;
}
main .card .layover .testo_layover div {
  padding: 2px 0;
}
main .card:hover {
  background-image: url('https://images.pexels.com/videos/3045163/free-video-3045163.jpg?auto=compress&cs=tinysrgb&dpr=1&w=500');
}
main .card:hover .layover {
  background: rgba(0, 0, 0, 5);
}
main .card:hover .testo_layover {
  visibility: visible;
}
main .card .testo_layover .fas.fa-star {
  color: #FDBE01;
}
main .card .testo_layover .flag {
  height: 50px;
  border-radius: 50%;
}
